<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <a class="navbar-brand" href="/">
        Node CMS
    </a>
    <div class="ms-auto">
        <div class="d-flex align-items-center gap-3">
            <img src="avatar.jpg" alt="Avatar" class="rounded-circle" width="50" height="50">
            <a role="link" href="/create-post" class="btn btn-outline-primary">New post</a>
            <a role="link" href="/login" class="btn btn-outline-danger">Logout</a>
        </div>
    </div>
</nav>