<div>
    <div>
        <form>
            <h2>Node cms login</h2>
            <div>
                <input type="text" required aria-label="Login"/>
                <input type="password" required aria-label="Password"/>
                <button type="submit">Log in</button>
            </div>
        </form>
    </div>
</div>