<div>
    <div>
        <form>
            <h2>Node cms signup</h2>
            <div>
                <input type="text" required aria-label="Login"/>
                <input type="password" required aria-label="Password"/>
                <input type="file" required aria-label="Image"/>
                <button type="submit">Sign up</button>
            </div>
        </form>
    </div>
</div>