body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .page {
        height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        align-items: center;

        &.create-post-page {
            height: calc(100vh - 220px);
        }
    }

    .user-form,
    .create-post-form {
        width: 100%;
        max-width: 540px;
    }
}